:root {
  --lighter-color: #f4faff;
  // #eceef4;
  --darker-color: #113264;
  // #34384c;
  --silver-color: #f4efec;
  --text-color: #0f0504;
  --facebook-color: #0866ff;
  --linkedin-color: #0a66c2;
}
