@use "../utils" as u;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(var(--bg-color-up) 35%, var(--bg-color-down));
  color: var(--text-color);
  font-family: u.$Garamond;
}
