@use "../utils" as u;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(var(--darker-color) 25%, var(--lighter-color));
  color: var(--text-color);
  font-family: u.$Garamond;
}
