button {
  cursor: pointer;
}

.btn {
  background: transparent;
  border: none;
}

.menu-btn,
.nav-close {
  color: var(--white-color);
}

.menu-btn {
  font-size: 1.8rem;
}

.nav-close {
  font-size: 2.8rem;
  color: var(--white-color);
}
