.home {
  height: 100%;
  padding-top: 20vh;
  overflow: hidden;
  text-align: center;
  &__image {
    margin: 0 auto 1.5em;
    height: 220px;
    width: 200px;
    border: 2px solid var(--black-color);
    border-radius: 1em;
  }
  &__name {
    padding-bottom: 0.8em;
    border-bottom: 2px solid var(--black-color);
  }
}
