.home {
  height: 100%;
  padding-top: 20vh;
  overflow: hidden;
  text-align: center;
  &__image {
    margin: 1em auto;
    height: 200px;
    width: 200px;
    border: 2px solid var(--silver-color);
    border-radius: 50%;
  }
  &__name {
    padding-bottom: 0.8em;
    border-bottom: 2px solid var(--silver-color);
  }
  &__name-last {
    color: var(--silver-color);
  }
}
