.home {
  height: 100%;
  padding-top: 20vh;
  overflow: hidden;
  text-align: center;
  &__image {
    margin: 1em auto;
    height: 200px;
    width: 200px;
    border: 5px solid var(--white-color);
    border-radius: 50%;
    background: #000;
  }
  &__name {
    padding-bottom: 0.8em;
    border-bottom: 2px solid var(--black-color);
  }
  &__name-last {
    color: var(--white-color);
  }
}
