.nav {
  position: fixed;
  background: var(--black-color);
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  transition: transform 255ms;
}

.open-navigation {
  transform: translateX(-100%);
}
